// Color Toolkit
// =============


$colors: () !default;


// Add Colors
// ----------
@mixin add-color(
  $map
) {
  $colors: map-merge($colors, $map) !global;
}


// Color
// -----
@function color($color) {
  // Parse arguments
  $color: map-get($colors, $color) or $color;
  $base: nth($color, 1);
  $adjust: if(length($color) > 1, nth($color, 2), ());

  // Recursive check
  $color: if(map-has-key($colors, $base), color($base), $base);

  // Adjustments
  @each $function, $value in $adjust {
    @if function-exists($function) {
      $color: call($function, $color, $value);
    } @else {
      @warn "#{$function} is not a valid color function.";
    }
  }

  @return $color;
}


// Tint
// ----
@function tint(
  $color,
  $percentage
) {
  $color: color($color);

  @return mix(#fff, $color, $percentage);
}


// Shade
// -----
@function shade(
  $color,
  $percentage
) {
  $color: color($color);

  @return mix(#000, $color, $percentage);
}


// Brightness
// ----------
@function brightness(
  $color
) {
  $color: color($color);

  $red: red($color) * .299;
  $green: green($color) * .587;
  $blue: blue($color) * .114;

  @return ($red + $green + $blue) / 255 * 100%;
}


// Contrast
// --------
@function contrast(
  $color,
  $dark: 'contrast-dark',
  $light: 'contrast-light'
) {
  $color: color($color);
  $dark: color($dark);
  $light: color($light);

  @if not(type-of($dark) == 'color') {
    $dark: #000;
  }

  @if not(type-of($light) == 'color') {
    $light: #fff;
  }

  $color-brightness: brightness($color);
  $dark-text-brightness: brightness($dark);
  $light-text-brightness: brightness($light);

  $light-contrast: abs($color-brightness - $light-text-brightness);
  $dark-contrast: abs($color-brightness - $dark-text-brightness);

  @return if($light-contrast > $dark-contrast, $light, $dark);
}


// Contrasted
// ----------
@mixin contrasted(
  $background,
  $dark: contrast-dark,
  $light: contrast-light
) {
  $background: color($background);

  background-color: $background;
  color: contrast($background, $dark, $light);
}
