// Color Toolkit
// =============


$colors: (
  dark: #000,
  light: #fff,

  contrast-dark: dark,
  contrast-light: light,
) !default;


// Colors
// ------
@mixin colors(
  $map
) {
  $colors: map-merge($colors, $map) !global;
}


// Color
// -----
@function color($color) {
  // Parse arguments
  $color: map-get($colors, $color) or $color;
  $base: nth($color, 1);
  $adjust: if(length($color) > 1, nth($color, 2), ());

  // Recursive check
  $color: if(map-has-key($colors, $base), color($base), $base);

  // Adjustments
  @each $function, $value in $adjust {
    @if function-exists($function) {
      $color: call($function, $color, $value);
    } @else {
      @warn "#{$function} is not a valid color function.";
    }
  }

  @return $color;
}


// Tint
// ----
@function tint(
  $color,
  $percentage
) {
  $color: color($color);

  @return mix(#fff, $color, $percentage);
}


// Shade
// -----
@function shade(
  $color,
  $percentage
) {
  $color: color($color);

  @return mix(#000, $color, $percentage);
}


// Brightness
// ----------
@function brightness(
  $color
) {
  $color: color($color);

  $_red: red($color) * .299;
  $_green: green($color) * .587;
  $_blue: blue($color) * .114;

  @return ($_red + $_green + $_blue) / 255 * 100%;
}


// Contrast
// --------
@function contrast(
  $color,
  $dark: contrast-dark,
  $light: contrast-light
) {
  $color: color($color);
  $dark: color($dark);
  $light: color($light);

  @if not(type-of($dark) == color) {
    $dark: #000;
  }

  @if not(type-of($light) == color) {
    $light: #fff;
  }

  $_color-brightness: brightness($color);
  $_dark-text-brightness: brightness($dark);
  $_light-text-brightness: brightness($light);

  $_light-contrast: abs($_color-brightness - $_light-text-brightness);
  $_dark-contrast: abs($_color-brightness - $_dark-text-brightness);

  @return if($_light-contrast > $_dark-contrast, $light, $dark);
}


// Contrasted
// ----------
@mixin contrasted(
  $background,
  $dark: contrast-dark,
  $light: contrast-light
) {
  $background: color($background);

  background-color: $background;
  color: contrast($background, $dark, $light);
}
